html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');
header {
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 120px;
  padding-right: 120px;
  background-image: url("./components/img/main\ 1.png");
  height: 962px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.header-title {
  margin-top: 120px;
  margin-bottom: 90px;
}

.header-title_main {
  font-family: 'Playfair Display', serif;
  font-size: 4.2rem;
  font-weight: bold;
  width: 37%;
  margin-bottom: 55px;
}

.header-title_subtitle {
  width: 28%;
  font-size: 1.56rem;
  line-height: 2.8rem;
}

.header_buttons {
  width: 37%;
  display: flex;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1661px) {
  html {
    font-size: 14px !important;
  }
  .header_buttons {
    width: 40%;
  }
  header {
    height: 850px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .header-title_subtitle {
    line-height: 2.8rem !important;
  }
  .header-title {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .header_buttons {
    align-items: center;
  }
}

@media only screen and (max-width: 1480px) {
  html {
    font-size: 12px !important;
  }
  .header-title_subtitle {
    width: 33%;
    font-size: 1.56rem;
    line-height: 45px;
  }
  .header_buttons {
    width: 28%;
    align-items: center;
  }
  header {
    height: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .header-title {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  
  .header-title_main {
    width: 35%;
    margin-bottom: 35px;
  }
  
 
}


@media only screen and (max-width: 1024px){
  html {
    font-size: 10px !important;
  }
  header {
    height: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .header-title {
    margin-top: 80px;
    margin-bottom: 70px;
}
  
}

@media only screen and (max-width: 768px){
  html {
    font-size: 9px !important;
  }
  .header-title_main {
    width: 50%;
  }
  .header-title_subtitle {
    width: 40%;
    font-size: 1.56rem;
    line-height: 2.8rem;
  }
  header {
    height: 620px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-title {
    margin-top: 80px;
    margin-bottom: 70px;
}

  
}

@media only screen and (max-width: 412px){
  html {
    font-size: 7px !important;
  }
  header {
    height: 545px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .header-title {
    margin-top: 70px;
    margin-bottom: 60px;
}
.header-title_main {
  width: 70%;
}
.header-title_subtitle {
  width: 60%;
  font-size: 1.56rem;
  line-height: 2.8rem;
}
  
}

@media only screen and (max-width: 376px){
  .header-title {
    margin-top: 70px;
    margin-bottom: 50px;
}
header {
  height: 545px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

}